<% if user_signed_in? && current_user.id == content.user_id %>
<div class="content_post">
    <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
            <li>
              <%= link_to '編集', edit_content_path(content.id), method: :get %>
            </li>
            <li>
              <%= link_to '削除', content_path(content.id), method: :delete %>
            </li>
        </ul>

      </div>
      <p><%= content.title %></p>
      <span class="name">
       <%= content.media.name %>
       <%= content.week.name %>
       <%= content.notice.name %>
       <span>投稿者</span><%= content.user.nickname %>
      </span>
    </div>
<% end %>
