<h1>こんにちは</h1>
<%= link_to "新規", new_content_path %>
<div class="contents row">
<h1>記事一覧</h1>
  <% @contents.each do |content| %>
    <div class="content_post">
    <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_content_path(content.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', content_path(content.id), method: :delete %>
          </li>
        </ul>
      </div>
      <p><%= content.title %></p>
      <span class="name">
       <%= content.media.name %>
       <%= content.week.name %>
       <%= content.notice.name %>
      </span>
    </div>
  <% end %>
</div>