<h1>こんにちは</h1>
<%= link_to "新規", new_content_path %>
<div class="contents row">
<h1>記事一覧</h1>
  <% @contents.each do |content| %>
    <div class="content_post">
      <p><%= content.title %></p>
      <span class="name">
       <%= content.media.name %>
       <%= content.week.name %>
       <%= content.notice.name %>
      </span>
    </div>
  <% end %>
</div>