
<div id="new_content">
  <h2>マイリストを登録しよう！</h2>
  <div class="container">
    <h1>Subscribe to My List!</h1>
      <ul class="contents">
        <%= form_with(model: @content, local: true) do |f| %>
        <%= render 'devise/shared/error_messages', model: f.object %>

        <li>何曜日の放送ですか？<%= f.collection_select(:week_id, Week.all, :id, :name, {}, { id: 'pullbown'}) %></li>
        <li>何でみてますか？<%= f.collection_select(:media_id, Media.all, :id, :name, {}, { id: 'pullbown'}) %></li>
        <li>通知の希望<%= f.collection_select(:notice_id, Notice.all, :id, :name, {}, { id: 'pullbown'}) %></li>
        <li><%= f.text_area :title, id: 'content_text', placeholder: 'タイトルを入力してください' %></li>
        
        <%= f.submit 'SEND',class: 'submit' %>
      </ul>
    <% end %>
  </div>
</div>
