<div id="mylist_show">
  <% if user_signed_in? %>
    <h1><%= "#{current_user.nickname} 's Lists" %></h1>
    <div class="lists">
    <% @contents.each do |content| %>
      <% if current_user.id == content.user_id %>
        <div class="content_post">
          <p><%= content.title %></p>
            <%= content.media.name %>
            <%= content.week.sub_name %>
            <%= content.notice.name %>
          <div class="more_list">
            <%= link_to edit_content_path(content.id), method: :get, class:"link_list" do %>
            <i class="fa-solid fa-pen-to-square" style="color:black;"></i><% end %>
            <%= link_to content_path(content.id), method: :delete, class:"link_list" do %>
            <i class="fa-solid fa-trash-can" style="color:black;"></i><% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <% if @contents.length <= 0  %>
      <p>コンテンツなし</p>
    <% end %>
  <% end %>
</div>